body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}

/* GENERAL STYLES */
p {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-left: 0;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

h4 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* HEADING AND NAVIGATION BAR STYLES */
.header, .header-nav-list, .header-contact {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header .link {
    color: var(--NAVY-BLUE, #2E2F42);
}

.header .logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-nav-list li {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-link .studio {
    color: var(--IRIS, #4D5AE5);
}

.header-contact-item {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.link:hover {
    color: var(--IRIS, #4D5AE5);
}

/* BANNER STYLES AND BUTTON WITH PORTFOLIO BUTTONS*/
.banner {
    background: var(--NAVY-BLUE, #2E2F42);
}

.banner-text {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
}

.banner-container {
    width: 1440px;
    text-align: center;
}

.button {
    background: var(--IRIS, #4D5AE5);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
}

.filter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    background: #f4f4fd;
    color: var(--IRIS, #4D5AE5);
}

/* OUR TEAM STYLES */
.team h4 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.team p {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

/* FOOTER STYLES */
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
   
}

.footer h4 {
    color: var(--CLOUD, #F4F4FD);
}

.footer p {
    color: var(--CLOUD, #F4F4FD);
}

.footer .logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}