body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}

/* GENERAL STYLES */
p {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

h4 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
/* HEADING AND NAVIGATION BAR STYLES */
.heading a {
    color: var(--NAVY-BLUE, #2E2F42);
}

.heading .logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navigation-bar li {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.navigation-bar .studio {
    color: var(--IRIS, #4D5AE5);
}

.contact-info li {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.link:hover {
    color: var(--IRIS, #4D5AE5);
}

/* BANNER STYLES AND BUTTON WITH PORTFOLIO BUTTONS*/
.banner {
    background: var(--NAVY-BLUE, #2E2F42);
}

.banner-text {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-transform: uppercase;
}

.btn {
    background: var(--IRIS, #4D5AE5);
    color: #fff;
    border: none;
}

.filter-button {
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
}

/* OUR TEAM STYLES */
.team h4 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.team p {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

/* FOOTER STYLES */
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
   
}

.footer h4 {
    color: var(--CLOUD, #F4F4FD);
}

.footer p {
    color: var(--CLOUD, #F4F4FD);
}

.footer .logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}